{% include 'pls/head.html' %}
{% block title %}
{% endblock %}
{% load static %}
    <div class="wrapper2">
    <div id="outline" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'index' %}"><img class="logo" src="/static/pls/img/Machine.png" alt="Machine"></a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="{% url 'outline' %}">OutLine</a></li>
                    <li><a href="{% url 'pls' %}">PLS</a></li>
                    <li><a href="{% url 'pcr' %}">PCR</a></li>
                    <li><a href="{% url 'shap' %}">Shap</a></li>
                    <li><a href="{% url 'scraping' %}">Scraping</a></li>
                    <li><a href="{% url 'upload' %}">Upload</a></li>
                    <li><a href="{% url 'datalist' %}">List</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </header>
        {% block main %}
        {% endblock %}
        <footer>
            <div class="wrapper">
                <p><small>&copy; 2023 Nogami-Youhei</small></p>
            </div>
        </footer>
    </div>
</body>
</html>