{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="機械学習を簡単に実行">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SpicaMugiho" />
    <meta property="og:url" content="https://nogamiyouhei.pythonanywhere.com/pls/login/" />
    <meta property="og:title" content="Python Machine Learning" />
    <meta property="og:description" content="Pythonを使ったスクレイピング、機械学習など便利な機能を提供" />
    <meta property="og:image" content="/static/pls/img/aurora2.jpg" />
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pls/css/style.css' %}">
    <link rel="icon" href="/static/pls/img/favicon.png" type="image/png">
</head>
<body>