{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PLS</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'pls/css/style.css' %}">
</head>
<body>
    <h1>主成分回帰</h1>
    <p>{{ message|safe }}</p>
    <form action="{% url 'index' %}" method="post">
        <table>
        {% csrf_token %}
        <tr><th>
        <label for="目的変数">目的変数: </label>
        </th>
        <td>
        <input id="目的変数" type="text" name="目的変数" size="41">
        </td></tr>
        <tr><th>
        <label for="説明変数">説明変数: </label>
        </th>
        <td>
        <textarea id="説明変数" name="説明変数" rows="4" cols="40"></textarea>
        </td></tr>
        <tr><th>
        <label for="n_components">主成分の数: </label>
        </th><td>
        <select name="n_components" id="n_components">
        {% for i in range1 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        </td></tr>
        <tr><td>
        <input type="submit" value="click">
        </td></tr>
        </table>
    </form>
    <p> {{ components1|safe }}
    {% for item in components2 %}
    {{ item }}<br>
    {% endfor %}
    </p>
    <p>{{ variance_ratio|safe }}</p>
    <p>{{ predict|safe }}</p>
    <p>{{ R2|safe }}</p>
</body>
</html>