{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>機械学習</title>
    <meta name="description" content="機械学習を簡単に実行">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pls/css/style.css' %}">
    <link rel="icon" href="/static/pls/img/favicon.png" type="image/png">
</head>
<body>
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'index' %}"><img class="logo" src="/static/pls/img/Machine.png" alt="Machine"></a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="{% url 'outline' %}">OutLine</a></li>
                    <li><a href="{% url 'pls' %}">PLS</a></li>
                    <li><a href="{% url 'pcr' %}">PCR</a></li>
                </ul>
            </nav>

        </header>
        <div class="home-content wrapper">
            <h2 class="page-title2"><span>P</span>ython<br><span>M</span>achine <span>L</span>earning</h2>
            <hr>
            <p>このサイトでは機械学習を簡単に実行できます</p>
            <a class="button" href="{% url 'outline' %}">概要</a>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</body>
<script src="{% static 'pls/js/script.js' %}"></script>
</html>