{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <meta name="description" content="ログイン">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pls/css/style.css' %}">
    <link rel="icon" href="/static/pls/img/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="wrapper2">
    <div id="outline" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'index' %}"><img class="logo" src="/static/pls/img/Machine.png" alt="Machine"></a></h1>
        </header>
        <div class="wrapper">
            <h2 class="page-title">Login</h2>
            <hr>
        </div>
    </div>
    <div class="pcr-contents wrapper">
    <p class="outline">はじめての方はユーザー登録をお願いします</p>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <table>
            {{ form }}
            <tr>
            <td>
            </td>
            <td>
            <p><input type="hidden" name="next" value="{{ next }}"></p>
            <div class="button-wrapper">
            <p><input type="submit" class="button" value="ログイン"></p>
            <p><a href="{% url 'signup' %}" class="button">ユーザー登録</a></p>
            </div>
            </td>
        </form>
        <td>
        </td>
        </table>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Nogami-Youhei</small></p>
        </div>
    </footer>
    </div>
<script src="{% static 'pls/js/scraping.js' %}"></script>
</body>
</html>