{% include 'pls/head.html' %}
{% block title %}
<title>Logout</title>
{% endblock %}
{% load static %}
    <div class="wrapper2">
    <div id="outline" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'index' %}"><img class="logo" src="/static/pls/img/Machine.png" alt="Machine"></a></h1>
        </header>
        <div class="wrapper">
            <h2 class="page-title">Logout</h2>
            <hr>
        </div>
    </div>
    <div class="pcr-contents wrapper">
    <table>
    <tr>
    <td>
    <p class="outline">ログアウトしました...</p>
    </td>
    </tr>
    <tr>
    <td>
    <p><a href="{% url 'login' %}" class="button">ログイン</a></p>
    </td>
    </tr>
    </table>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Nogami-Youhei</small></p>
        </div>
    </footer>
    </div>
<script src="{% static 'pls/js/scraping.js' %}"></script>
</body>
</html>