{% extends 'pls/base.html' %}        
{% block title %}
<title>PCR</title>
{% endblock %}
{% block main %}
    <div class="wrapper">
        <h2 class="page-title">主成分回帰（PCR）</h2>
        <hr>
    </div>
    </div>
    <div class="pcr-contents wrapper">
    <p class="outline">主成分分析とは、たくさんの量的な説明変数を、より少ない指標や合成変数に要約する手法です。</p>
    <p>※縦はデータ、横は説明変数となるように、エクセルからコピーして貼り付けてください</p>
    <p class="message">{{ message|safe }}</p>
    <form action="{% url 'pcr' %}" method="post">
        <table>
        {% csrf_token %}
        <tr><th>
        <label for="目的変数" class="label">目的変数: </label>
        </th>
        <td>
        <input id="目的変数" type="text" name="目的変数" size="40" placeholder="エクセルからコピペ">
        </td></tr>
        <tr><th>
        <label for="説明変数" class="label">説明変数: </label>
        </th>
        <td>
        <textarea id="説明変数" name="説明変数" rows="4" cols="40" placeholder="エクセルからコピペ"></textarea>
        </td></tr>
        <tr><th>
        <label for="n_components" class="label">主成分の数: </label>
        </th><td>
        <select name="n_components" class=button2 id="n_components">
        {% for i in range1 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        </td></tr>
        <tr><td>
        <input type="submit" class="button" value="click">
        </td></tr>
        </table>
    </form>
    <div class="result">
    <p> {{ components1|safe }}
    {% for item in components2 %}
    {{ item }}<br>
    {% endfor %}
    </p>
    <p>{{ variance_ratio|safe }}</p>
    <p>{{ predict|safe }}</p>
    <p>{{ R2|safe }}</p>
    </div>
    </div>
{% endblock %}
