{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PLS</title>
    <meta name="description" content="機械学習を簡単に実行">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pls/css/style.css' %}">
    <link rel="icon" href="/static/pls/img/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="wrapper2">
    <div id="outline" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'index' %}"><img class="logo" src="/static/pls/img/Machine.png" alt="Machine"></a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="{% url 'outline' %}">OutLine</a></li>
                    <li><a href="{% url 'pls' %}">PLS</a></li>
                    <li><a href="{% url 'pcr' %}">PCR</a></li>
                    <li><a href="{% url 'scraping' %}">Scraping</a></li>
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            <h2 class="page-title">部分的最小2乗回帰（PLS）</h2>
            <hr>
        </div>
    </div>
    <div class="pcr-contents wrapper">
    <p class="outline">部分的最小2乗回帰（PLS）における主成分は、目的変数と主成分の共分散が最大になるように作成されます。</p>
    <p>※縦はデータ、横は説明変数となるように、エクセルからコピーして貼り付けてください</p>
    <p class="message">{{ message|safe }}</p>
    <form action="{% url 'pls' %}" method="post">
        <table>
        {% csrf_token %}
        <tr><th>
        <label for="目的変数">目的変数: </label>
        </th>
        <td>
        <input id="目的変数" type="text" name="目的変数" size="40" placeholder="エクセルからコピペ">
        </td></tr>
        <tr><th>
        <label for="説明変数">説明変数: </label>
        </th>
        <td>
        <textarea id="説明変数" name="説明変数" rows="4" cols="40" placeholder="エクセルからコピペ"></textarea>
        </td></tr>
        <tr><th>
        <label for="n_components">主成分の数: </label>
        </th><td>
        <select name="n_components" class="button2" id="n_components">
        {% for i in range1 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        </td></tr>
        <tr><td>
        <input type="submit" class="button" value="click">
        </td></tr>
        </table>
    </form>
    <div class="result">
    <p>{{ coef_|safe }}</p>
    <p>{{ intercept_|safe }}</p>
    <p>{{ predict|safe }}</p>
    <p>{{ R2|safe }}</p>
    </div>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Nogami-Youhei</small></p>
        </div>
    </footer>
    </div>
</body>
</html>