{% extends 'pls/base.html' %}        
{% block title %}
<title>PLS</title>
{% endblock %}
{% block main %}
    <div class="wrapper">
        <h2 class="page-title">部分的最小2乗回帰（PLS）</h2>
        <hr>
    </div>
    </div>
    <div class="pcr-contents wrapper">
    <p class="outline">部分的最小2乗回帰（PLS）における主成分は、目的変数と主成分の共分散が最大になるように作成されます。</p>
    <p>※縦はデータ、横は説明変数となるように、エクセルからコピーして貼り付けてください</p>
    <p class="message">{{ message|safe }}</p>
    <form action="{% url 'pls' %}" method="post">
        <table>
        {% csrf_token %}
        <tr><th>
        <label for="目的変数" class="label">目的変数: </label>
        </th>
        <td>
        <input id="目的変数" type="text" name="目的変数" size="40" placeholder="エクセルからコピペ">
        </td></tr>
        <tr><th>
        <label for="説明変数" class="label">説明変数: </label>
        </th>
        <td>
        <textarea id="説明変数" name="説明変数" rows="4" cols="40" placeholder="エクセルからコピペ"></textarea>
        </td></tr>
        <tr><th>
        <label for="n_components" class="label">主成分の数: </label>
        </th><td>
        <select name="n_components" class="button2" id="n_components">
        {% for i in range1 %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select>
        </td></tr>
        <tr><td>
        <input type="submit" class="button" value="click">
        </td></tr>
        </table>
    </form>
    <div class="result">
    <p>{{ coef_|safe }}</p>
    <p>{{ intercept_|safe }}</p>
    <p>{{ predict|safe }}</p>
    <p>{{ R2|safe }}</p>
    </div>
    </div>
{% endblock %}