{% include 'pls/head.html' %}
{% block title %}
<title>Signup</title>
{% endblock %}
{% load static %}
    <div class="wrapper2">
    <div id="outline" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'index' %}"><img class="logo" src="/static/pls/img/Machine.png" alt="Machine"></a></h1>
        </header>
        <div class="wrapper">
            <h2 class="page-title">SignUp</h2>
            <hr>
        </div>
    </div>
    <div class="pcr-contents wrapper">
    <form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
        <table class="signup">
        {{ form }}
        <tr>
        <th>
        <p><input type="submit" class="button" value="登録"></p>
        </th>
        </tr>
        </table>
    </form>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Nogami-Youhei</small></p>
        </div>
    </footer>
    </div>
<script src="{% static 'pls/js/scraping.js' %}"></script>
</body>
</html>