{% extends 'pls/base.html' %}        
{% block title %}
<title>Upload</title>
{% endblock %}
{% block main %}
    <div class="wrapper">
        <h2 class="page-title">アップロード</h2>
        <hr>
    </div>
    </div>
    <div class="pcr-contents wrapper">
    <p class="outline">CSVファイルをアップロード
    </p>
    <br>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    <tr>
    <td>
    <input type="file" name="htmlfile">
    </td>
    </tr>
    <tr>
    <td>
    <button type="submit", class="button">アップロード</button>
    {% if upload_file_url %}
    <p>アップロード時刻<a href="{{ upload_file_url }}">{{ upload_file_url }}</a></p>
    {% endif %}
    </td>
    </tr>
    </table>
    </form>
    </div>
{% endblock %}
