@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: serif;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.logo {
    width: 150px;
    margin-top: 10px;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432
}
.main-nav a:hover {
    color: #0bd;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}
.home-content {
    text-align: center;
}
.home-content p {
    font-size: 1.125rem;
    margin: 50px 0 42px;
}
.page-title {
    font-size: 2.7rem;
    color: black;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
}
.page-title2 {
    font-size: 3.5rem;
    color: black;
    line-height: 1;
    text-transform: uppercase;
    font-weight: normal;
}
.page-title2 span {
    font-size: 8rem;
}
.button {
    font-size: 1.375rem;
    background: #818181;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
    border: 0.5px solid black;
}
.button:hover {
    background-color: #424242;
}
#home {
    min-height: 100vh;
}
#outline {
    height: 270px;
}
#outline .page-title {
    text-align: center;
}
footer {
    width: 100%;
    background: #424242;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}
article {
    width: 74%;
}
aside {
    width: 22%;
}
.outline-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-title {
    font-size: 2rem;
    font-weight: normal;
}
article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
aside p {
    padding: 12px 10px;
}
ul {
    list-style: none;
}
article p {
    margin-bottom: 1rem;
}
h3 {
    margin: 2rem 0 1rem;
}
.wrapper2 {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
}
/* フォーム */
table {
    border-spacing: 2rem;
}
label {
    font-size: 1.125rem;
    display: block;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    background: rgba(42, 42, 42, .2);
    border: 1px, #fff, solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 40vw;
    border: 0.5px solid #999;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
.button2 {
    display: block;
    font-size: 1rem;
    background: #818181;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
    border: 0.5px solid black;
}
.button3 {
    display: block;
    font-size: 1rem;
    background: #818181;
    color: #fff;
    border-radius: 5px;
    padding: 9px 18px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid black;
}
.button3:hover {
    background-color: #424242;
}
.result p {
    padding: 30px;
    font-size: 1.2rem;
}
.message {
    color: red;
    font-weight: bold;
}
.start {
    color: #0bd;
}
label {
    text-align: right;
}

.message-wrapper p {
    display: inline-block;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.button-wrapper input,
.button-wrapper a {
    display: inline-block;
    width: 180px;
    height: 60px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.signup th {
    vertical-align: top;
    padding-top: 10px;
}

#message2 {
    position: relative;
    top: 10px;
    left: 10px;
}

.select {
    appearance: none; /* ① */
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #aaa; /* ② ここから */
    border-radius: 4px;
    padding: 5px 25px 5px 10px;
    font-size: 1.2rem;
    cursor: pointer; /* ② ここまで */
  }
  
  .select:disabled {
    pointer-events: none;
    background-color: #f1f1f1;
    color: #aaa;
  }
  
  .select-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .select-wrapper::after {  /* ③ */
    content: '';
    position: absolute;
    border: 4px solid #333;
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    top: calc(50% - 3px);
    right: 10px;
    width: 0;
    height: 0;
  }
  
  .select-wrapper--disabled::after {
    border-top-color: #aaa;
  }

  .list, .list td, .list th {
    border-width: 1.5px 0px;
    border-color: #555;
    border-style: solid;
    border-collapse: collapse;
    padding: 1em;
    margin: 1em;
  }
  .list tr:hover {
    background-color: #ddd;
  }

  .list th {
    background-color: #bbb;
  }

  .list {
    margin-right: auto;
    margin-left: auto;
  }

  .params input {
    background: rgba(42, 42, 42, .2);
    border: 1px, #fff, solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 9vw;
    text-align: center;
  }
  .params th {
    text-align: right;
    font-size: 1.2em;
  }
  th.header{
    text-align: center;
  }
  .shap-button input {
    position: relative;
    left: 200px;
    border: 0.5px solid black;
  }
  .shap-button p {
    position: relative;
    left: 200px;
    padding: 20px;
    color: red;
    font-size: 1.2em;
  }
  .target input{
    width: 100%;
    text-align: left;
  }
  
  table.result {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    left: 100px
  }

  .result td {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  .result th {
    text-align: right;
    font-size: 1.2em;
  }

  .result, .result td, .result th {
    border-width: 1.5px 0px;
    border-color: #555;
    border-style: solid;
    border-collapse: collapse;
    padding: 1em;
    margin: 1em;
  }
  .result tr:not(:first-child):hover {
    background-color: #eee;
  }
  .result tr:first-child {
    background-color: #ddd;
  }


@media (max-width: 600px) {
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    .outline-contents {
        flex-direction: column;
        align-items: center;
    }
    article,
    aside {
        width: 100%;
    }
    .page-title{
        margin-bottom: 50px;
    }
    .outline {
        margin-top: 120px;
    }
    .main-nav li {
        margin: 0 18px;
    }
}